body {
	font-family: 'Karla', sans-serif;
}

a {
	text-decoration: none;
	color: blue;
}

a:visited {
	color: blue;
}


p {
	text-align: justify;
}

.container {
	max-width: 1080px;
	margin: auto;
}

.list-style-none {
	list-style: none;
}

.break {
	height: 2px;
	background-color: black;
}

.color-swatch {
	margin: 0 10px 0 0;
	display: inline-block;
	height: 20px;
	width: 20px;
}

#carissma {
	background-color: #e791b4;
}

#waikawa-grey {
	background-color: #5469aa;
}

#wisteria {
	background-color: #a374aa;
}

#deep-blush {
	background-color: #e16985;
}

#red-damask {
	background-color: #d65c44;
}
