body {
	font-family: 'Karla', sans-serif;
}

a {
	text-decoration: none;
	color: blue;
}

a:visited {
	color: blue;
}


p {
	text-align: justify;
}

.container {
	max-width: 1080px;
	margin: auto;
}

.list-style-none {
	list-style: none;
}

.break {
	height: 1px;
	background-color: black;
}

.color-swatch {
	margin: 0 10px 0 0;
	display: inline-block;
	height: 20px;
	width: 20px;
}

#vista-blue {
	background-color: #9BD7BE;
}

#apple {
	background-color: #38963b;
}

#red-damask {
	background-color: #D65C44;
}

#deep-blush {
	background-color: #E16985;
}

#deco {
	background-color: #d4d585;
}